@tailwind base;
@tailwind components;
@tailwind utilities;


.fontA {
    /*font-family: 'Montserrat Subrayada', sans-serif; */
    font-family: 'Montserrat Alternates', sans-serif;
}

.fontB {
    font-family: 'Open Sans', sans-serif;
}

.fontC {
    font-family: 'Kanit', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.ad {
    width: 100% - 5rem - 22rem;
}

.error-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .error-popup.show {
    opacity: 1;
  }
  
  .error-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  .error-popup-content button {
    margin-top: 10px;
  }